@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./reset.css";
@import "./grid.css";
@import "./base.css";

@import "./header.css";
/* import layout home */
@import "./page/Home/style.css";
@import "./page/Home/fs.css";
@import "./page/Home/category.css";
@import "./page/Home/lzm.css";
@import "./page/Home/jfu.css";

@import "./footer.css";

/* ------------------------ Sticky--------------------- */
.nav-sticky {
    position: fixed;
    z-index: 997;
    left: 0;
    bottom: 10%;
    width: fit-content;
    .list-items {
        display: inline-flex;
        flex-direction: column;
    }
    .link-to-id {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #f5f5f5;
        border: 2px solid #fff;
        transition: all 0.2s linear;
        &:hover {
            color: #f57224;
            .slide {
                transition: all 0.25s ease-in-out;

                translate: 100% 0;
            }
        }
        .slide {
            position: absolute;
            z-index: -1;
            font-size: 1.2rem;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            color: #f57224;
            right: 0;

            translate: -100% 0;
            background: #f5f5f5;
            border: 2px solid #fff;
            height: 40px;
            width: 130px;
        }
    }
}
.message-sticky {
    position: fixed;
    bottom: 2px;
    right: 5vh;
    -webkit-box-shadow: 0 2px 4px 0;
    box-shadow: 0 2px 4px 0;
    .btn-mes_st {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
        padding: 5px 8px;
        color: #044254;
    }
}
