/* ------------------------ MOD-CARD------------------- */
.mod-card {
    .item-card {
        flex-shrink: 1;
        > a {
            background: #fff;
            background-clip: content-box;
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
        }
        img {
            width: 138px;
            height: 130px;
        }
        .content-card {
            padding: 15px 0 0 15px;
            img {
                width: 138px;
                height: 24px;
                margin-bottom: 5px;
            }
        }
        &:first-child a:hover {
            p {
                transition: all 0.1s linear;
                color: red;
            }
        }
        &:nth-child(2) a:hover {
            p {
                transition: all 0.1s linear;
                color: #f7b388;
            }
        }
        &:last-child a:hover {
            p {
                transition: all 0.1s linear;
                color: #6294ff;
            }
        }
    }
}
@media screen and (max-width: 991.98px) {
    .mod-card {
    }
}
